.add-cart-button {
  width: 100px;
  height: 50px;
  background-color: #6abfc3;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  border-radius: 0.2em;
  box-shadow: 0 0.05em 0.25em 0 rgba(0,0,0,0.5);
  color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

.add-cart-button:hover {
  opacity: .9;
}