.cart-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cart-title {
  font-family: "Open sans";
  text-align: center;
  font-size: 3rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.cart-content-container {
  display: grid;
  min-width: 80%;
  grid-template-columns: repeat(1, minmax(auto, 1fr));
  place-items: center;
}
.cart-item-container {
  min-width: 80%;
  display: flex;
  border: none;
  text-transform: capitalize;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
  clip-path: inset(-2px 0 0 0);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.cart-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.cart-info {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.cart-left {
  display: flex;
  flex-direction: column;
}

.cart-item-header-container {
  text-align: left;
}
.cart-item-size-container {
  text-align: left;
}
.cart-item-quantity-container {
  text-align: left;
}

.cart-right {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.cart-item-delete-container {
  cursor: pointer;
}

li {
  list-style: none;
}

.trash-svg {
  pointer-events: none;
}

.checkout-form-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr 2fr;
  font-family: "Open sans";
  background: var(--primary);
  gap: 0.5rem;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin: 1rem;
}
.checkout-total-container {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  align-items: center;
}

.checkout-total-value {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  align-items: center;
}

.checkout-shipping-container {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  align-items: center;
}
.checkout-shipping-value {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  align-items: center;
}

.checkout-button-container {
  grid-column: 1/3;
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .cart-image {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }

  .main-cart-container {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .cart-content-container {
    box-shadow: none;
    width: 100%;
    padding: 1rem;
  }

  .cart-item-container {
    display: flex;
    max-width: 300px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    gap: 0.5rem;
    font-size: 0.7rem;
  }
}
