.details-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.details-header {
  font-family: 'Norse-Bold';
  text-align: center;
  font-size: 3rem;
  padding-bottom: 1rem;
}