.side-nav {
  background: #D3D3D3;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: 2rem;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  gap: 2rem;
  border: none;
}

.side-burger-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.side-burger {
  pointer-events: none;
  align-self: center;
  color: rgba(156,163,175);
  font-size: 3rem;
}

.side-links-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
}

.men-link:hover, .women-link:hover, .accessories-link:hover {
  opacity: .5;
}