.side-nav {
  background: #D3D3D3;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: 2rem;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
}

.side-burger {
  align-self: center;
  font-size: 2rem;
}

.side-links-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
}