.toggle-switch {
  display: block;
}

#toggle-input {
  display: none;
}

.toggle-switch__control {
  width: 40px;
  height: 14px;
  border-radius: 7px;
  position: relative;

  background: var(--secondary);

  cursor: pointer;

  margin: 50px auto;
}

.toggle-switch__control::after {
  content: "";
  display: block;

  width: 20px;
  height: 20px;
  border-radius: 10px;

  position: absolute;
  left: -1px;
  top: -3px;

  background: var(--text);

  transition: left 0.25s;
}

#toggle-input:checked + .toggle-switch__control::after {
  left: 21px;
}
