body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --headerBg: #fff,
  --footerBg: #fff,
  --sidebarBg: #d3d3d3,
  --contentBg: #f3f3f3,
  --text: #000000
}
[data-theme='dark'] {
  --headerBg: #181a1b,
  --footerBg: #181a1b,
  --sidebarBg: #313517,
  --contentBg: #1f2123,
  --text: #e8e6e3
}
